@charset "utf-8";


#title{
	width:80%;
	height:230px;
	border:1px solid #E0EEEE;
	padding-top:5px;
	border-radius: 5px;
	margin-left:10%;

}

#title-icon{
	height:212px;
	float:left;
	margin-top:5px;
	margin-left:20px;
}

#title-icon img{
	width:350px;
	height:212px;
}

#title-intro{
	width:620px;
	height:260px;
	float:left;
	margin:10px 0px 0 10px;
	margin-left:10px;
	border:1px solid #ffffff;
}

#title-intro h1{
	text-align:left;
}

#byuser{
	margin-top:30px;
	margin-left:10px;
    	font-family: "微软雅黑";
    	font-size: 16px;
    	color:#615e5d;

}

#title-eng{
	width:140px;
	height:40px;
	background-color:#FFB90F;
	margin-top:30px;
	margin-left:10px;
	border-radius: 5px;
}

#title-eng #gvalue{
	margin-top:3px;
	margin-right:10px;
	color:#ffffff;
    	font-family: "微软雅黑";
    	font-size: 16px;
}

#title-eng #g{
	margin-top:3px;
	margin-left:10px;
	color:#ffffff;
    	font-family: "微软雅黑";
    	font-size: 16px;
}

#comment{
	margin-top:30px;
	margin-left:10px;
    	font-family: "微软雅黑";
    	font-size: 16px;
}

#collect{
	margin-top:30px;
	margin-left:10px;
    	font-family: "微软雅黑";
    	font-size: 16px;
}

#spit{
	color:#8B8989;
	margin-top:10px;
	margin-right:10px;
}

#title a:link{
	
}

#title a:hover {
	color:#06886a; 
	text-decoration:none;
 }

#container{
	width:100%;
	padding-left:10%;
	padding-right:10%;
}


#left-box{
	width:72%;
	margin:0;
	padding:0;
	
}

#obj{
	width:90%;
	margin:0px;
    	font-family: "微软雅黑";
    	font-size: 16px;
	color:#615e5d;
	border-bottom:1px solid #C9C9C9;
}

#list{
	width:100%;
	margin:0;
	padding:0;
	margin-top:20px;
}

#list-title{
	width:100%;
}

#list-box{
	width:100%;
	margin-bottom:20px;
}

#list-content{
	width:90%;
	background-color:#F4F4F4;
	margin-bottom:10px;
}
#list-content span{
	padding-top:10px;
	padding-left:10px;
}
.lcon{
	margin-left:5px;
}

.rcon{
	margin-right:10%;
}

#list a:link{
	color:#8B8989;
}

#list a:hover {
	color:#06886a; 
	text-decoration:none;
 }



#right-box{
	width:28%;
	margin-top:30px;
}

#notice-box{
	width:100%;
	background-color:#FCFCFC;
	border:1px solid #E0EEEE;
}

#notice{
	background-color:#F4F4F4;
	border:1px solid #F4F4F4;
    	font-family: "微软雅黑";
    	font-size: 16px;
	color:#615e5d;
}

#notice a:hover{
	color:#06886a;
	text-decoration:none;
}

#online-box{
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:30px;
	background-color:#FCFCFC;
	border:1px solid #E0EEEE;
}

#online-title{
	background-color:#F4F4F4;
	border:1px solid #F4F4F4;
    	font-family: "微软雅黑";
	color:#615e5d;
}

#online-user{
	width:100%;
	margin:0;
	padding:0;
}

#online-user #user{
	width:100%;
	margin:0;
	padding:0;
}

#online-user li{
	width:100%;
    	font-family: "微软雅黑";
    	font-size: 14px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	border-bottom:1px solid #E0EEEE;
}

#online-user li img{
	width:30px;
	height:30px;
	margin-right:10px;
}

#online-user a{
	color:#615e5d;
}


#online-user a:hover{
	color:#06886a;
	text-decoration:none;
}

#online-title a{
	color:#c7b376;
}


#online-title a:hover{
	color:#06886a;
	text-decoration:none;
}





