/*卡片列表*/
.card_list {
	margin:0px;
	padding:20px 20px;
}
/*卡片*/
.card {
	box-shadow: 2px 2px 13px 0px #dadada;
	margin-bottom: 15px;
	margin-right: 15px;
	float: left;
	padding: 0;
	width: 255px;
	list-style-type: none;
	position: relative;
}
.card_front, .card_back {
	box-sizing: border-box;
	width: 255px;
	height: 91px;
	padding: 20px 15px;
	display: block;
	font-size: 12px;
	overflow: hidden;
}
/*卡片正面*/
.card_front {
	z-index: 1;
	background-color: #f9f9f9;
}
/*卡片背面*/
.card_back {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 10px;
	opacity: 0;
	background: rgba(85, 85, 85, 0.7);
	background-repeat: no-repeat;	
	transition: all 450ms ease 30ms;
}
.card_back:hover {
	opacity: 1;
}		
.card_back:hover .text  {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}
.card_front .imgbox {
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.card_front .h4 {
	color: #333;
	height: 32px;
	line-height: 16px;
	font-weight: 400;
	overflow: hidden;
	margin-top: 0px !important;
	margin-bottom: 5px;
	font-size: 12px !important;
}
.card_front .imgbox img {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.card_back .text {
	color: #fff;
	line-height: 1.5em;
	overflow: hidden;
	display: block;
	height: 71px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(66px);
	transition: transform 450ms ease 30ms, opacity 450ms ease 30ms;
}
.card a {
	text-decoration: none;
}
.card a:focus {
	outline: none;
}